{
  "DB_HOST": "{{ groups.rds[0] }}",
  "DB_NAME": "public_content",
  "DB_USER": "{{ rds_credentials.username }}",
  "DB_PASS": "{{ rds_credentials.password }}",
  "ES_HOST": "{{ groups.es[0] }}",
  "ES_PORT": "80",
  "REMOTE_HOST": [
    "{{ groups.public_content_server[0] }}"
  ],
  "DEBUG": true
}
